h1,h3{
    background: -webkit-linear-gradient(rgb(142, 56, 222), rgb(225, 225, 225));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
  }



.heart{
    font-size: 7rem;
    color: red ;
}

.bolt{
    font-size: 7rem;
    color: yellow;
}
.clapper{
    font-size: 7rem;
    color: rgb(142, 56, 222);
}
.fb{
font-size: 2rem;
color: #00cfc8;
}