.anime-card:hover {
    -webkit-box-shadow: 0px 0px 16px 3px rgba(110, 12, 110, 1);
    -moz-box-shadow: 0px 0px 16px 3px rgba(110, 12, 110, 1);
    box-shadow: 0px 0px 16px 3px rgba(110, 12, 110, 1);

}
.card-container{
    background: #000;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
   
}

