.suggestion {
    position: absolute;
    background-color:rgb(0, 0, 0);
    opacity: .9 ;
    margin-top: 40px;
    z-index: 1;
}

.list {
   color: violet;
   cursor: pointer;
}
.list:hover{
    background-color: rgba(71, 60, 60, 0.675);
}
li{
 list-style: none;
 margin-left: 1rem;
}