
.App{
  width: 90%;
  margin: 0 auto;
  background-color: #212529;
}

img{
  width: 90%;
  border-radius: 5%;
} 

body{
  background-color: #212529;
}

.card-container{
  background-color: #212529 ;

}
.card{
  background-color: #212529;
  color: aliceblue;
  margin: 2% 0%;
}

